* {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: grey;
}
nav li {
    float: left;
    list-style: none;
}
nav li a {
    font-size: 20px;
    text-decoration: none;
    padding: 0 30px;
    color: black;
    background-color: grey;
}
